/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Styling main menus.
 * This one, in particular, is for the superfish dropdown.
 */
#main-menu-nav {
}
ul.sf-menu {
	font-family: Spinnaker;
	text-transform: lowercase;
	font-size: 1.1em;
}
ul.sf-menu > li {
	opacity: 0.9;
}
ul.sf-menu > ul {
	text-transform: none;
}
ul.sf-menu > ul > li.first.leaf {
	border-top: 1px solid #F00;
}
ul.sf-menu > a {
	border-bottom: 2px groove #AAA;
}


/**
 * Secondary menu
 */
#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
