/**
 * @file
 * Views Styling
 */


/**
 * Frontpage carousel styling
 */
#block-views-regenannouncementcarousel-block {
  position: relative;
}

#block-views-regenannouncementcarousel-block h2.block-title {
  display: none;
}

#block-views-regenannouncementcarousel-block .meta {
  display: none;
}

#block-views-regenannouncementcarousel-block .views-label {
  display: none;
}

#block-views-regenannouncementcarousel-block .RegenEvent.carousel-body {
  display: none;
}

#block-views-regenannouncementcarousel-block ul.slides {
  height: 472px;
  overflow: hidden;
}

#block-views-regenannouncementcarousel-block ul.slides li {
  text-align: center;
  background-color: #333;
  width: 630px !important;
  height: 472px;
  display: none;
  position: relative;
}
#block-views-regenannouncementcarousel-block ul.slides img {
  margin: 0 auto;
}
#block-views-regenannouncementcarousel-block p.flex-caption {
  margin: 0;
/*  position: absolute;*/
  opacity: 0;
  padding: 10%;
  width: 80%;
/*  width: auto;
  float: left;
  left: 10%;
  bottom: 10%; */
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
}
#block-views-regenannouncementcarousel-block ol.flex-control-nav {
  bottom: 5px;
}
#block-views-regenannouncementcarousel-block:hover p.flex-caption {
  opacity: 1;
}

#block-views-regenannouncementcarousel-block p.flex-caption a {
  color: white;
  font-size: 1.4em;
}

/* Frontpage firsttime module shouldn't show up. I wish I could
   figure how to to disable it. */
#first-time {display: none}

/**
 * Frontpage event block
 */
#block-views-regeneventlist-block ul {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}

#block-views-regeneventlist-block ul li {
  padding: 0.5em 0;
  border-bottom: 2px groove #FFF;
}
#block-views-regeneventlist-block ul li:last-child {
  border: 0;
}

#block-views-regeneventlist-block .views-field-title {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 -1px rgba(255,255,255,0.2);
  font-family: adelle, "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
#block-views-regeneventlist-block a {
  color: #E5B051;
  text-shadow: 0 -1px #CCC, 0 1px white;
  text-decoration: none;
}

#block-views-regeneventlist-block p.body {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0.3em 0;
  opacity: 0.9;
  text-shadow: 0 -1px white;
}
#block-views-regeneventlist-block .views-field.date {
  font-size: 0.7em;
  font-family: adelle, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-transform: uppercase;
  color: #AAA;
}

/**
 * 2-col panel layout
 */
